{:paths ["domain/src"
         "backend/src"
         "frontend/src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.6"}
  com.datomic/client-cloud {:mvn/version "1.0.137"}
  com.datomic/local {:mvn/version "1.0.291"}
  org.clojure/data.json {:mvn/version "2.5.2"}
  ring/ring-jetty-adapter {:mvn/version "1.14.2"}
  tensegritics/clojuredart
  {:git/url "https://github.com/Tensegritics/ClojureDart.git"
   :git/sha "9f9cef5e0735026b667c28372e6967dcf43dc13e"}}

 :aliases
 {:cljd {:main-opts ["-m" "cljd.build"]}
  :test {:extra-paths ["domain/test"
                       "backend/test"
                       "frontend/test"]
         :main-opts ["-m" "smerf.test-runner"]}
  :backend {:main-opts ["-m" "smerf.backend.system"]}
  :format {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
           :main-opts ["-m" "cljfmt.main" "check"
                       "domain" "backend" "frontend" "dev"]}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
         :main-opts ["-m" "clj-kondo.main" "--lint"
                     "domain" "backend" "frontend" "dev"]}
  :check {:extra-paths ["dev"]
          :main-opts ["-m" "smerf.check"]}}

 :cljd/opts
 {:kind :flutter
  :main smerf.frontend.main}}
